.div_movie_details{
    width: 100%;
    height: 100%;
    background-color: #2a2f34;

    display: grid;
    grid-template-rows: 226px 130px 300px;

    position: relative;

    overflow: hidden;
}



.div_btn_back_right{
    position: absolute;
    left: 7px;
    top: 7px;

    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10000;

    
}
.div_btn_back_right:hover{
    background-color: rgb(243, 243, 243);
}
.div_btn_back_right:active{
    background-color: rgb(255, 255, 255);
}
.btn_back_right{  
    font-family: impact;
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 5px;

    background-color: rgba(240, 248, 255, 0);
    border: none;

    cursor: pointer;   
    
    padding: 10px;
}










.div_all_movie_details{

    width: 100%;
    /* background-color: rgb(84, 140, 121); */

    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 30px;

    border-top-left-radius: 10px;
}

.div_img_movie_poster_big{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.img_movie_poster_big{
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
}








.div_all_movie_details_text{
    background-color: rgba(241, 199, 145, 0);
    
    font-family: gilroy;    
    
    
}
.text_movie_title_big{

    font-family: gilroy;
    font-size: 20px;
    font-weight: 700;
    color: white;

    margin-top: 20px;    
    margin-bottom: 0px;
}
.text_date_movie_time{

    color: white;
    
    
}
.text_movie_type{
    color: white;
}

.text_imdb_rating_right{
    color: white;
}




























.div_rating_stars {
    width: 100%;
    background-color: rgba(255, 228, 196, 0);

    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    
}
.div_inner_rating_stars{

    width: 360px;
    height: 90px;
    background-color: rgb(56, 68, 74);

    display: grid;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
}


















.div_short_movie_info{
    width: 100%;
    background-color: rgba(135, 157, 114, 0);

    margin-top: 20px;

   
}

.div_short_movie_info p{
    margin-left: 50px;
    margin-right: 40px;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 242, 242);
}